.slide-right {
  transform: translate(0%, 0);
}
.slide-left {
  transform: translate(-200%, 0);
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* slide scale */
.slideZoomOut,
.slideZoomIn {
  transform: scaleY(0);
  height: auto;
  max-height: 0;
  transform-origin: top;
  transition: all 0.3s ease-in-out;
}

.slideZoomIn {
  transform: scaleY(1);
  max-height: 100vh;
}

/* Slide to bottom */
.slide-to-bottom-enter-active .inner,
.slide-to-bottom-leave-active .inner {
  transition: all 0.3s ease-out;
}

.slide-to-bottom-enter-from .inner,
.slide-to-bottom-leave-to .inner {
  transform: translateY(-50px);
}

.slide-to-bottom-enter-active,
.slide-to-bottom-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-to-bottom-enter-from,
.slide-to-bottom-leave-to {
  opacity: 0;
}

.route-enter-active,
.route-leave-active {
  transition: all 0.3s ease-out;
}
.route-enter-from,
.route-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}